<?xml version="1.0" encoding="UTF-8"?>
<Configuration packages="jr.utils.log4j2">
    <Appenders>
        <AnsiConsoleAppender name="CONSOLE">
            <PatternLayout pattern="%style{%d{HH:mm:ss.SSS}}{dim} [%highlight{%-5level}] %msg%n" />
        </AnsiConsoleAppender>

        <RollingFile
            name="FILE"
            fileName="${sys:jrogue.logs}/jrogue.latest.log"
            filePattern="${sys:jrogue.logs}/$${date:yyyy-MM}/app-%d{MM-dd-yyyy}-%i.log.gz"
        >
            <PatternLayout pattern="%d{HH:mm:ss} [%t] [%-5level] %msg%n" />

            <Policies>
                <OnStartupTriggeringPolicy />
                <TimeBasedTriggeringPolicy />
                <SizeBasedTriggeringPolicy size="1 MB"/>
            </Policies>

            <DefaultRolloverStrategy max="5" />

            <Filters>
                <ThresholdFilter level="GAME" onMatch="DENY" onMismatch="NEUTRAL" />
            </Filters>
        </RollingFile>
    </Appenders>

    <Loggers>
        <Logger name="org.apache.log4j.xml" level="INFO" />

        <Root level="ALL">
            <AppenderRef ref="FILE" level="TRACE" />
            <AppenderRef ref="CONSOLE" level="TRACE" />
        </Root>
    </Loggers>
</Configuration>