<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
    <CustomLevels>
        <CustomLevel name="GAME" intLevel="350" />
    </CustomLevels>

    <Appenders>
        <Console name="CONSOLE" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%-5level] - %msg%n" />
        </Console>

        <RollingFile
            name="FILE"
            fileName="${sys:jrogue.logs}/jrogue.latest.entry"
            filePattern="${sys:jrogue.logs}/$${date:yyyy-MM}/app-%d{MM-dd-yyyy}-%i.entry.gz"
        >
            <PatternLayout pattern="%d{HH:mm:ss} [%t] %-5level - %msg%n" />

            <Policies>
                <OnStartupTriggeringPolicy />
                <TimeBasedTriggeringPolicy />
                <SizeBasedTriggeringPolicy size="1 MB"/>
            </Policies>

            <DefaultRolloverStrategy max="5" />

            <Filters>
                <ThresholdFilter level="GAME" onMatch="DENY" onMismatch="NEUTRAL" />
            </Filters>
        </RollingFile>
    </Appenders>

    <Loggers>
        <Logger name="org.apache.log4j.xml" level="INFO" />

        <Root level="TRACE">
            <AppenderRef ref="FILE" />
            <AppenderRef ref="CONSOLE" />
        </Root>
    </Loggers>
</Configuration>